.game {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;

    &__bottomBar {
        position: absolute;
        width: 100%;
        background-color: var(--dark-blue);
        border-radius: 60px 60px 0px 0px;
        bottom: 0;
    }

    &__board {
        position: absolute;
    }

    &__boardBlack {
        z-index: 100;
    }

    &__boardWhite {
        z-index: 300;
    }

    &__marker {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 82px;
        width: 38px;
        height: 36px;
        background-image: url("../../assets/images/marker-red.svg");
    }

    &__turn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 197px;
        height: 165px;
        z-index: 400;
        background-image: url("../../assets/images/turn-background-red.svg");
    }

    &__turnText {
        font-size: 16px;
        font-weight: 700;
        color: var(--light);
        text-align: center;
        margin: 46px 0 3px 0;
    }

    &__turnCounter {
        font-size: 56px;
        font-weight: 700;
        color: var(--light);
        text-align: center;

    }

    &__wins {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 285px;
        height: 160px;
        z-index: 500;
        background-color: var(--light);
        border-radius: 20px;
        border: 3px solid var(--dark);
        box-shadow: 0px 10px 0px 0px var(--dark);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__winsPlayer {
        font-size: 16px;
        font-weight: 700;
        margin-top: 17px;
    }

    &__winsWins {
        font-size: 56px;
        font-weight: 700;

    }

    &__winsButton {
        width: 130px;
        height: 39px;
        border-radius: 20px;
        border: none;
        background-color: var(--dark-blue);
        font-size: 16px;
        font-weight: 700;
        color: var(--light);
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: var(--rose);
            cursor: pointer;
        }
    }
}

.gameDesktop {

    &__board {
        position: absolute;
        top: 116px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__bottomBar {
        height: 200px;
    }

    &__turn {
        top: 660px;
    }

    &__wins {
        top: 660px;
    }
}

.gameTablet {

    &__board {
        position: absolute;
        top: 231px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__bottomBar {
        height: 234px;
    }

    &__turn {
        top: 775px;
    }

    &__wins {
        top: 775px;
    }
}

.gameMobile {

    &__board {
        position: absolute;
        top: 241px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__bottomBar {
        height: 236px;
    }

    &__turn {
        top: 536px;
    }

    &__wins {
        top: 536px;
    }
}